# 仮想環境
venv/

# Pythonのキャッシュファイル
__pycache__/
*.pyc
*.pyo

# Firebase認証情報
secrets/

# その他のPython関連キャッシュ
*.pyd
*.pdb

# 環境設定ファイル
.env

# IDE設定ファイル
.vscode/
.idea/

# Python関連のIDEファイル
*.iml

# ログファイル
*.log

# ビルド関連ファイル
*.egg-info/
dist/
build/

# macOSの不要ファイル
.DS_Store